
{
  "extends": "defaults/configurations/eslint",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "VERSION": true,
    "spyOn": true
  },
  "rules": {

  }
}
